[Unit]
Description=GPIO SysV Server
After=syslog.target network.target

[Service]
Type=forking
RemainAfterExit=yes
# EnvironmentFile=/etc/gpiosysv.d/gpiosysvsrv.conf
PIDFile=/run/gpiosysvsrv.pid
WorkingDirectory=/usr/local/gpiosysv
ExecStart=/usr/local/gpiosysv/gpiosysvsrv.sh start
ExecStop=/usr/local/gpiosysv/gpiosysvsrv.sh stop
ExecReload=/usr/local/gpiosysv/gpiosysvsrv.sh restart
Restart=on-failure
RestartSec=60s
KillMode=process

[Install]
WantedBy=multi-user.target default.target graphical.target
