[Unit]
Description=GPIO SysV Server
After=syslog.target network.target

[Service]
Type=forking
RemainAfterExit=yes
# EnvironmentFile=/etc/gpiosysv.d/gpiosysvsrv.conf
WorkingDirectory=/usr/local/gpiosysv
ExecStart=/usr/local/gpiosysv/gpiosysvsrv.sh start
ExecStop=/usr/local/gpiosysv/gpiosysvsrv.sh stop
ExecReload=/usr/local/gpiosysv/gpiosysvsrv.sh restart
Restart=no

[Install]
WantedBy=multi-user.target
